*0.f*
*.fld*
nek5000
makefile
obj
.nek5000
*.map
*log*
.state
compiler.out
*.py
mn
makenek
SESSION.NAME
*.nek5000
*.out
out.*
*.mp4
*.tar.gz
*.tgz
*.tif*
cyl
ldc
*.f
rom40
pod2
notes.txt
chan2.plt01
pod/baf-snaps
docs
test
