# Specific files

nek5000
tags
makefile
.state
compiler.out
mn
makenek
SESSION.NAME
notes.txt
chan2.plt01

# Directories

.sync
obj
data
runs
docs

# File types

*log*
*.mp4
*.tif*
*.tar.gz
*.tgz
*0.f*
*.fld*
*.nek5000
*.out
*.map
*.dra
out.*
*.png

# Cases

cyl2
cyl3
pod2
cyl
ldc
rom40
cyl_ann
