# Examples: track case inputs and scripts; ignore generated run/build outputs.

.state
SESSION.NAME
build.log
logfile

obj/
ops/
snaps/
snaps_rom/
qoi/

nek5000
makefile
makefile_usr.inc
test.usr
LMOR
!ann/LMOR
!rb_axi/LMOR
!cylbig_abm/LMOR
MOR
MORDICT

bas.list
eps

fom*/
rom*/
fom.*.dat
rom.*.dat
*_avg.list
compare_*/

*.pdf
